doctype html
html
  head
    style
        include ../static/style1.css
body
    div.bg-img
        div.container
            <h1 id='main-heading'>Organ Donation</h1>
                div.topnav
                    a(href='/') Home
                    a(href='/static/form.html') Form
                    a(href='/static/contact.html') Contact
                    a(href='/static/about.html') About
                    a(href='/static/patient_info1.html') Need
                    a(href='/static/matches.html') Matches
    
        

